# Python virtual environments
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# cache files
__pycache__/
.ruff_cache/

# Chroma DB and vector storage
db/minecraft_lore/
*.bin
*.sqlite3

# settings & extensions
.vscode/
.qodo/
.idea/
.qodo_help/

# OS metadata
.DS_Store